
/* Your CSS Code here. */
.heading{
	background-color:purple;

	border-left-width:5px;
	padding:10px;
	color:white;
	font-size:20px;
	text-decoration:underline;
	
}
.main{
	width:200px;
	border-left-color:green;
    background-color:rgb(128,0,128);
}